<!DOCTYPE html>
<html>
<head>
    <title>Historical MMS Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #loading {
            text-align: center;
            font-size: 20px;
            color: #666;
        }
    </style>
    <script>
        function hideLoading() {
            document.getElementById('loading').style.display = 'none'; // Hide the loading text
            document.getElementById('plotImage').style.display = 'block'; // Display the plot image
        }
    </script>
</head>
<body onload="hideLoading()">
    <div class="container">
        <h1>Historical MMS Data</h1>
        <!-- Placeholder for loading -->
        <div id="loading">Please wait, loading...</div>
        <!-- Image tag where src is set to the plot URL and initially hidden -->
        <img id="plotImage" src="{{ url_for('generate_dynamic_plot', probe=probe, start_date=start_date, end_date=end_date) }}"
             alt="Dynamic Plot" style="display:none;" onload="hideLoading()">
        <p><a href="/">Back to Home</a></p>
    </div>
    <div class="footer">
        © 2024 EVA Online Dashboard - All rights reserved.
    </div>
</body>
</html>
